<div class="container-fluid">
	<div class="col-md-12">
		<div>
			
		</div>
		<!-- logo -->
	</div>
	<div class="col-md-4">
		<!-- nav bar home -->
	</div>
	<div class="col-md-4">
		<!-- nav bar about us -->
	</div>
	<div class="col-md-4">
		<!-- nav bar contact -->
	</div>
	<div class="col-md-12">
		<div>
			<img src="/assets/pool.jpg" class="pool-img">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div>
				<img src="/assets/pool.jpg" class="pool-img">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<!-- contact information -->
		</div>
		<div class="col-md-4">
			<!-- cert info and picture -->
		</div>
	</div>
</div>