<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<!-- pictures of the pool guy in action. maybe in a bootstrap carousel -->
		</div>
		<div class="col-md-4">
			<h1>
				The Pool Guy
			</h1>
			<div>
				The Pool Guy started in 1996.  The Pool Guy is C.P.O. Certified and can maintain any aquatic facility in the United States. Chris, the Pool Guy has maintained pools with integrety and consistency for 23 years of experience.  
			</div>
			<br>
			<div>
				"We Treat Your Pool Like It's Our Own"
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div>
				Types of Pool Service provided:
			</div>
		</div>
		<div class="col-md-4">
			<!-- something in the middle -->
		</div>
		<div class="col-md-4">
			<!-- something in the middle -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- contact information -->
		</div>
		<div class="col-md-6">
			<!-- cert info and picture -->
		</div>
	</div>
</div>